body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #333;
}
header{
    background: #4a90e2;
    color: white;
    padding: 10px;
    text-align: center;
}
nav button{
    margin: 5px;
    padding: 8px 15px;
    border: none;
    background: white;
    color: #4a90e2;
    cursor: pointer;
    border-radius: 5px;
}
.themebtn{
    margin: 5px;
    padding: 8px 15px;
    border: none;
    background: white;
    color: #4a90e2;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
.themebtn:hover{
    background: #eee;
}
nav button:hover{
    background: #eee;
}
section{
    display: none;
    padding: 20px;
}
section.active{
    display: block;
}
article{
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.card{
    width: 200px;
    height: 120px;
    border: 1px solid #ccc;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}
.heading{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-bebebe{
    margin: 5px;
    padding: 15px 20px;
    border: none;
    background: #4a90e2;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 30px;
    position: absolute;
    left: 46%;
}
.muted{
    color:var(--muted); 
    font-size: 14px;
}
.btnnext{
    margin: 5px;
    padding: 8px 15px;
    border: none;
    background: white;
    color: #4a90e2;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    border: solid 3px #4a90e2;
}
.progress{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}
.countllm, .diffllm{
    margin: 5px;
    padding: 8px 15px;
    border: none;
    background: #4a90e2;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
.topicllm{
    margin: 5px;
    padding: 8px 15px;
    background: #ffffff;
    color: #4a90e2;
    cursor: pointer;
    border: solid, 3px, #4a90e2;
    border-radius: 5px;
    margin-top: 10px;
}
.btngenerate{
    margin: 5px;
    font-size: 20px;
    padding: 8px 15px;
    background: #ffffff;
    color: #4a90e2;
    cursor: pointer;
    border: solid, 3px, #4a90e2;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.3s;
}
.btngenerate:hover{
    background: rgb(248, 248, 248);
    border: solid, 3px, #357ac8;
    color: #357ac8;
}
.llmstatusupdates{
    font-size: 20px;
    color: #4a90e2;
    margin-top: 22px;
    margin-left: 20px;
}